@font-face {
  font-family: arial;
  src: url(../fonts/ARIAL.ttf);
}
@font-face {
  font-family: arialb;
  src: url(../fonts/ARIALBD.ttf);
}

@font-face {
  font-family: tahma;
  src: url(../fonts/Tahoma.ttf);
}


@font-face {
  font-family: time;
  src: url(../fonts/times.ttf);
}



body{
    background-color: #0f121f;
}

*{
    box-sizing: border-box;
    line-height: 1.65;
    outline: none;

}
nav img{
	width: 200px;
	height: 55px;
}
nav{
	    border-bottom: 3px solid #252a44;

}
.navbar-default{
	    background-color: #131625;
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
    width: 100%;
   
 
    border:0;
	    border-bottom: 5px solid #252a44;

        color: #ffffffcc;

}

.navbar-default .navbar-nav>li>a{
        color: #ffffffcc;
        font-size: 15px;
        transition: 0.2s;



}

.searsh input{
	border:1px solid #383f66;
	width: 100%;
	background: transparent;
	    position: relative;
	    border-radius: 25px;
	    		    padding: 5px 30px;
	    		    color: #ffffff;
	transition: 0.2s;


}


.searsh input:focus{
	border-color: #2483ff;
	transition: 0.2s;
}
.searsh{
color: #ffffff;
position: relative;
padding: 0 10px;
}

.searsh i{

	position: absolute;
	left: 10px;
	top: 10px;
}
.navbar {
	    border-bottom: 5px solid #252a44;
	        margin: 0;



}

.navbar-default .navbar-nav>li>a:hover{

    color: rgb(252, 145, 83) !important;
	        transition: 0.2s;

}
.navbar-default .navbar-nav>li>a:focus{

    color: rgb(252, 145, 83) !important;
	        transition: 0.2s;

}

.navbar-brand{
	padding: 0;
}

.navbar-default .navbar-toggle{
	color: #ffffff;
	background-color: transparent;
	border:0;
	    transition: 0.2s;

}
.navbar-default .navbar-toggle:hover{
    color: rgb(252, 145, 83) !important;
    background-color: transparent;
    transition: 0.2s;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    	    transition: 0.2;

}
.navbar-toggle .collapsed{
	 color: rgb(252, 145, 83) !important;
	    transition: 0.2;


}
.navbar-default .navbar-toggle .icon-bar {

	    color: rgb(252, 145, 83) !important;
	    transition: 0.2;


}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	 color: rgb(252, 145, 83) !important;
	 background-color: transparent !important;
	    transition: 0.2;

}
.navbar-default .navbar-toggle:hover .icon-bar{

		 background-color: rgb(252, 145, 83) !important;
		 transition: 0.2s;


}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:0;
}

.left_tab{
	height: 800px;
	border: 3px solid #252a44;
	border-left: 0;
	padding: 15px 5px;
	background-color: #141826;
	overflow: hidden;
	      
}
.main_coins ul{
	padding: 0;
	list-style: none;
	border:1px solid #383f66;
border-radius: 4px;
    width: 100%;
    text-align: center;

}
.main_coins ul li{
	display: inline-block;
}
.main_coins ul li a{

	color: #b0b8db;
	margin: 5px 4px;
	font-size: 12px;
	text-decoration: none;
}

.main_coins {
	margin-top: 15px;
	padding: 0 10px;
}

.coin_active{
	background-color: #2483ff;
color: #ffffff!important;}




.coin_head ul li{

display: flex;
justify-content: space-between;
}

.coin_head a{

	color: #61688a;
	text-decoration: none;
	font-size: 12px;

}
.coin_head ul {
	padding: 0;
	list-style: none;
}

 .coin_body{
overflow-y: scroll;
padding: 5px;
height: 645px;
}


.coin_body ul{

	padding: 0;
	list-style: none;


}

.coin_body ul li{
	display: flex;
	justify-content: space-between;
}


.coin_row a{
	text-decoration: none;
}
.coin_row{
	padding: 0 10px;
}
.coin_head{
		padding: 0 10px;

}
.coin_row a:hover{
	text-decoration: none;
	color: all;
}


.coin_name{
	width: 45%;
	color: #b0b8db;
}
.coin_name:hover{
	color: #b0b8db;
}

.head_coin{
	width: 45%;
}

.head_coin{
}

.price{
	color: #f4f9ff;
}

.price:hover{
	color: #f4f9ff;
}

.coin_body::-webkit-scrollbar-track
{
	
	border-radius: 25px;
	background-color: transparent;

}
.coin_body::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
	height: 25px !important;

}

.coin_body::-webkit-scrollbar-thumb
{
	border-radius: 25px;
	background-color: #252a448c;
}

.coin_row:hover{
	background-color: #0f121f !important;
}

.coin_body ul li:hover{
		background-color: #0f121f !important;


}


.price{font-size: 13px;}

.rate{
	color: #00b464;
}

.chart{
	padding: 0;
	border:3px solid #252a44;
	height: 800px;
}

.exchange{
		padding: 0;
	border:3px solid #252a44;
}

.ex_nav{
	display: flex;
	justify-content: space-between;
}

.chart iframe {
	border: 3px solid #252a44;
	border-top: 0;
	margin: 0;
	height: 100%;
}

.exchange{
	position: relative;
	top: -8px;
	background-color: #141826;
	    height: 348px;

}
.ex_nav{
    background-color: #0f121f !important;
}




.ex-mlink:hover{
	color: #ffffff;
}

.ex-slink a{
padding: 7px;
    color: #2483ff;
background-color: #2483ff1a;
text-decoration: none;
font-size: 12px;
font-family: arial;
margin: 5px;
}
.ex-slink a:hover{
	opacity: 0.7;
	transition: 0.2s;
}

.ex-slink {
	margin: 10px 5px;

}

.ex_nav a{
	text-decoration: none;
}

.trading a{

	color: #f4f9ff;
	padding: 2px 10px;
	border:1px solid #383f66;
	font-size: 12px;
	width: 95%;
	border-radius: 2px;
	text-align: center;
    margin: 5px 0 5px 5px;
	text-decoration: none;
	font-family: arial;
	transition: 0.2s;
}
.trading{
	display: flex;
    justify-content: space-between;

}
.trading a:first-child{

	color: #2483ff;
	border-color: #2483ff;
	    margin-left: 0;

}

.trading a:hover{
	color: #2483ff;
	border-color: #2483ff;
transition: 0.2s;
}



.trading_form input{
	background: transparent;
	border:1px solid #383f66;
	padding: 0 55px;
	color: #f4f9ff;

}

.trading_form input:focus{
	border-color: #2483ff;
	transition: 0.2s;
}
.trading_form label{

	color: #b0b8db;
	position: absolute;
	font-size: 12px;
	margin: 5px 5px;
	padding: 3px;

}

.trading_form small{
	color: #b0b8db;
	position: absolute;
	font-size: 12px;
		margin: 5px 5px;
		right: 15px;
			padding: 3px;

}


.trading_form .form-group {
	display: flex;
margin: 5px 0;
}

.form_in .right-br{

	border-right: 2px solid #383f66;
	border-style:hidden dotted hidden hidden;
}

.total{
	display: flex;
	justify-content: space-between;
}
.total h6{
	color: #61688a;
	margin: 10px 0;
	font-size: 12px;

}

.total h5{

color: #f4f9ff;
margin: 10px 0;
font-size: 15px;

}

.buy{
	width: 100%;
	text-align: center;
	border:1px solid #383f66;
		border-radius: 2px;
		cursor: pointer;

}
.buy a{
	text-decoration: none;
	color: #00b464;
	font-size: 15px;
}

.sell{
	width: 100%;
	text-align: center;
	border:1px solid #383f66;
		border-radius: 2px;
		cursor: pointer;
}

.sell a{

	text-decoration: none;
	color: #fa4d56;
	font-size: 15px;
}

.form_in {
	margin: 35px 5px;
}

.or_book{
		border: 3px solid #252a44;
		height: 800px;
		padding: 0;
		background-color: #141826;
		overflow: hidden;
		transition: 0.2s;

}
.orderbook{
		width: 100%;
		background-color: #0f121f;

}
.orderbook h3{
	margin: 0;
	font-size: 15px; 
	font-family: arialb;
	color: #f4f9ff;

	    width: 100%;
    height: 40px;
    float: left;
    padding: 0 15px;
    border-radius: 2px 2px 0 0;
    		background-color: #0f121f;
    		line-height: 2.5;

}

.sort ul{
	padding: 0 15px;
	list-style: none;
	display: inline-block;
	margin: 0;
}

.sort ul li{
	display: inline-block;
	margin: 5px 5px 5px 0 ;
	cursor: pointer;
}

.book_head{
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.book_head h6{
margin: 0;
color: #61688a;
}

.book_red_body ul{
	padding: 0;
	list-style: none;

}

.book_red_body ul li{

	display: flex;
	justify-content: space-between;
	transition: 0.2s;
}
.book_red_body ul li:hover{

background-color: #0f121f;
transition: 0.2s;
}
.book_red_body{
	padding: 0 15px;
	color: #b0b8db;
	    overflow-y: hidden;
    height: 328px;

}

.book_red_body ul li p{
	font-size: 12px;
	margin: 2px 0;
}


.book_red_body ul li p:first-child{

	color: #fa4d56;
}
.stables {
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	background-color: #0f121f;
}

.stables h6 {

	margin: 0;
	font-size: 14px;
	color: #b0b8db;
	width: 100%;
}

.stables h5 {
	margin: 0;
	font-size: 16px;
	color: #fa4d56;
}

.book_green_body{


}


.book_green_body ul{
	padding: 0;
	list-style: none;

}

.book_green_body ul li{

	display: flex;
	justify-content: space-between;
	transition: 0.2s;
}
.book_green_body ul li:hover{

background-color: #0f121f;
transition: 0.2s;
}
.book_green_body{
	padding: 0 15px;
	color: #b0b8db;
	
}

.book_green_body ul li p{
	font-size: 12px;
	margin: 2px 0;
}


.book_green_body ul li p:first-child{

	color: #00b464;
}

.market_trade{
	height: 800px;
	width: 100%;
}

.m_trade{

	padding: 0;
	height: 800px;
	overflow-y: hidden;
	background-color: #141826;
		border: 3px solid #252a44;

}

.m_trade h3{margin: 0;
    font-size: 15px;
    font-family: arialb;
    color: #f4f9ff;
    width: 100%;
    height: 40px;
    float: left;
    padding: 0 15px;
    border-radius: 2px 2px 0 0;
    background-color: #0f121f;
    line-height: 2.5;}


    .market_trade .book_head h6{
    	margin: 10px 0;


    }
.trade-view{
	padding: 0 15px;
	height: 710px;
    overflow-y: scroll;
}

.trade-view::-webkit-scrollbar-track
{
	
	border-radius: 25px;
	background-color: transparent;

}
.trade-view::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
	height: 25px !important;

}

.trade-view::-webkit-scrollbar-thumb
{
	border-radius: 25px;
	background-color: #252a448c;
}





    .trade-view ul{
    	padding: 0px;
    	list-style: none;
    	margin: 0;
    }
        .trade-view ul li{

        	display: flex;
        	justify-content: space-between;
}


.time{
	color: #b0b8db;

}

.trade-view p{
	font-size: 12px;
	margin: 0;
}
.amo{
	color: #f4f9ff;
}

.price_market{

	color: #fa4d56;
}

@media(max-width: 1030px){



	.coin_row {
    padding: 0;
}

.coin_head {
    padding: 0;
}

.main_coins {

padding: 0;
}
.searsh {

padding: 0;
}

.trading a{
	padding: 2px 0;
}

.form_in .col-md-6{
	padding: 5px;
}

.book_head {
	padding: 0 2px;
}

.book_red_body {
    padding: 0 2px;}

.stables{
	padding: 5px 1px;
}
.stables h5{
	font-size: 12px;
}
.stables h6{
	font-size: 10px;
}

.stables a{
	font-size: 12px;
    margin-right: 2px;
}

.trade-view {
    padding: 0 1px;}

    .book_green_body{
    	padding: 0 2px;
    }
}


@media(max-width: 991px){
	.or_book {
width: 0;
    position: fixed;
    right: 0;
    z-index: 5;

}

.m_trade{
	width: 0;
    position: fixed;
    right: 0;
    z-index: 5;
    transition: 0.2s;
}
.chart {
	width: 75%;
}
}


.fixxed_btun a{
	text-decoration: none;
	color: #ffffff;
	
    font-size: 16px;
    font-family: airalb;
padding: 5px;
z-index: 7;

}
.fixxed_btun{
	position: fixed;
	right: -65px;
	top: 50%;
	z-index: 6;
	transform: rotate(-90deg);
	display: flex;
	justify-content: space-between;

}
.orderbook {
	background-color: #2483ff;
	margin:  0 5px ;
	cursor: pointer;
}

.orderbook a{
		margin: 0 5px ;

}
@media(min-width: 992px){
	.fixxed_btun{
		display: none;
	}
}


@media(max-width: 767px){
.chart {
    width: 100%;
    height: 100%;
}
.exchange{
	height: 100%;

}


.or_book{
	top: 0;
	height: 100%;

}

.m_trade{
		top: 0;
	height: 100%;
}

.trade-view {
    padding: 0 5px;
    height: 100%;}

.widthful{
width: 60% ;

}

}


.widthful{
	width: 35% !important;
	z-index: 5;
}


@media(max-width: 767px){
.chart {
    width: 100%;
    height: 100%;
}
.exchange{
	height: 100%;

}


.or_book{
	top: 0;
	height: 100%;

}

.m_trade{
		top: 0;
	height: 100%;
}

.trade-view {
    padding: 0 5px;
    height: 100%;}

.widthful{
width: 60% !important ;

}

}
.nav_recent{
	width: 100%;
	background-color: #0f121f;
		border-top: 3px solid #252a44;
			display: flex;


}

.nav_recent a{

	color: #b0b8db;
	text-decoration: none;
	font-size: 15px;
	padding: 15px 10px;
	margin:  0 5px;
}

.recent_trades{
	background-color: #141826;
	padding: 0;
}
.ex-mlink{
	color: #ffffff !important;
	background-color: #141826;
	padding: 10px;
	font-family: arialb;
	text-decoration: none;
	border-top: 2px solid #2483ff;
}

.nav_recent a:first-child{

	margin-left: 0;
}

.recent_body{
	background-color: #141826;
	height: 500px;
	overflow-y: scroll;
}

.recent_trades .row{
	margin: 0;
}


.recent_body h5{

	color: #61688a;
	font-size: 14px;
}

.recent_body::-webkit-scrollbar-track
{
	
	border-radius: 25px;
	background-color: transparent;

}
.recent_body::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
	height: 25px !important;

}

.recent_body::-webkit-scrollbar-thumb
{
	border-radius: 25px;
	background-color: #252a448c;
}





body::-webkit-scrollbar-track
{
	
	border-radius: 25px;
	background-color: transparent;

}
body::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
	height: 25px !important;

}

body::-webkit-scrollbar-thumb
{
	border-radius: 25px;
	background-color: #252a448c;
}

.resent_num h4{
font-size: 14px;
color: #ffffff; 

margin: 5px 0;

}

.sell_colr{
	color: #fa4d56 !important;
}

.buy_colr{
	color: #00b464 !important;
}

.resent_num:hover{

	background-color: #0f121f !important;
}


@media(max-width: 420px){

	.ex-slink {

margin: 10px 0;
width: 95%;

}

.ex-slink a {
    padding: 7px 2px;
}
.recent_body h5 {

font-size: 12px;
}

.resent_num h4{
	font-size: 11px;
}

.ex-slink a{
	    margin: 5px 0;
	    font-size: 11px;

}
}